@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  }

  .my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
  }
  
  /* Style your items */
  .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    background: grey;
    margin-bottom: 10px;
  }

  body{
    background: rgb(6,181,212);
background: linear-gradient(36deg, rgba(6,181,212,1) 0%, rgba(59,130,246,1) 100%);
  }


/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #FFFFFF #35C1EB;
}*/
/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #FFFFFF #35C1EB;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #35C1EB;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #CFD8DA;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #FFFFFF;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #EBEAFF;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #35C1EB;
  }
  